<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="false"/>

  <include file="$(find infant)/launch/front_laser.launch"/>
  <include file="$(find infant)/launch/rear_laser.launch"/>
  <include file="$(find infant)/launch/front_camera.launch"/>

  <include file="$(find infant)/launch/robot_state.launch"/>

  <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>

  <node pkg="rviz" type="rviz" name="infant_rviz" args="-d $(find infant)/config/infant.rviz" if="$(arg rviz)"/>
</launch>
