<launch>
    <param name="use_sim_time" value="true"/>
    
	<!-- <node pkg="rosbag" type="play" name="player" args="- -clock /home/amsl/bagfiles/2018-09-15-16-11-46.bag -s 250"/> -->
    <node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/bagfiles/2018-10-01-21-47-44.bag -s 0"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find infant_recognition)/../config/tsukuba2018.rviz"/>
    
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
    
    <node pkg="infant_recognition" type="tf_broadcaster" name="tf_broadcaster"/>

	<node pkg="infant_recognition" type="pc_frameid_rename" name="pc_frameid_rename_velodyne">
		<remap from="/cloud" to="/velodyne_points"/>
		<remap from="/cloud/renamed_frame" to="/velodyne_points/renamed_frame"/>
		<remap from="/new_id" to="/velodyne_odom"/>
	</node>
	<node pkg="infant_recognition" type="pc_frameid_rename" name="pc_frameid_rename_rmground2">
		<remap from="/cloud" to="/rm_ground2"/>
		<remap from="/cloud/renamed_frame" to="/rm_ground2/renamed_frame"/>
		<remap from="/new_id" to="/velodyne_odom"/>
	</node>
	
	<node pkg="infant_recognition" type="pc_transformer" name="pc_transformer_velodyne">
		<remap from="/cloud" to="/velodyne_points/renamed_frame"/>
		<remap from="/cloud/transformed" to="/velodyne_points/renamed_frame/transformed"/>
		<remap from="/target" to="/localmap"/>
	</node>
	<node pkg="infant_recognition" type="pc_transformer" name="pc_transformer_rmground2">
		<remap from="/cloud" to="/rm_ground2/renamed_frame"/>
		<remap from="/cloud/transformed" to="/rm_ground2/renamed_frame/transformed"/>
		<remap from="/target" to="/localmap"/>
	</node>

    <node pkg="infant_recognition" type="occupancygrid_lidar" name="occupancygrid_lidar" output="screen"/>
    <node pkg="infant_recognition" type="occupancygrid_store" name="occupancygrid_store" output="screen"/>

	<node pkg="velodyne_height_map" type="rm_ground_node_minmax" name="rm_ground"/>

	<!--    <node pkg="infant_recognition" type="longest_path_detection" name="longest_path_detection" output="screen"/> -->
</launch>
