<launch>
    <param name="use_sim_time" value="true"/>
    
	<!-- <node pkg="rosbag" type="play" name="player" args="- -clock /home/amsl/bagfiles/2018-09-15-16-11-46.bag -s 250"/> -->
    <node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/bagfiles/2018-10-01-21-47-44.bag -s 0"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find infant_recognition)/../config/tsukuba2018.rviz"/>
    
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
    
    <node pkg="infant_recognition" type="tf_broadcaster" name="tf_broadcaster"/>

    <node pkg="infant_recognition" type="pc_transformer" name="pc_transformer" output="screen"/>
	<node pkg="infant_recognition" type="pc_transformer" name="rmground_transformer">
		<remap from="/velodyne_points" to="/rm_ground2"/>
		<remap from="/velodyne_points/transformed" to="/rm_ground2/transformed"/>
	</node>

    <node pkg="infant_recognition" type="occupancygrid_lidar" name="occupancygrid_lidar" output="screen"/>
    <node pkg="infant_recognition" type="occupancygrid_store" name="occupancygrid_store" output="screen"/>

	<node pkg="velodyne_height_map" type="rm_ground_node_minmax" name="rm_ground"/>

	<!--    <node pkg="infant_recognition" type="longest_path_detection" name="longest_path_detection" output="screen"/> -->
</launch>
